* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

/* Button to open nav bar */
.main {
  padding: 16px;
  background-color: #172931;
  height: 100%;
  width: 65px;
}

/* Nav Bar */
.nav {
  color: #ffffff;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #172931;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 15px;
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
}

.filter {
  margin-bottom: 10px;
  line-height: 22px;
}

ul {
  list-style-type: none;
  cursor: pointer;
  padding-left: 0px;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  width: 225px;
  border: none;
}

/* Google Map */
#map {
  bottom:0px;
  height: 100%;
  left: 65px;
  position: absolute;
  right: 0px;
  overflow: hidden;
}

#pano {
  width: 200px;
  height: 200px;
}

/* footer of the webpage */
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  margin-left: 10px;
}

#foursquare-img {
  height: 48px;
  width: 48px;
}
