html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}

.nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #d0eef1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

ul {
  list-style-type: none;
  padding-left: 0;
  cursor: pointer;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
  overflow: hidden;
}

#pano {
  width: 200px;
  height: 200px;
}

#foursquare-img {
  height: 48px;
  width: 48px;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
