<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neighborhood Map Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/map.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <nav>
            <h3>Neighborhood Map</h3>
            <input class="filter" placeholder="Filter Locations" data-bind="textInput: searchText, valueUpdate: 'afterkeydown'">
            <ul data-bind="foreach: filteredList">
                <li data-bind="text: title, click: showLocation"></li>
            </ul>
        </nav>
        <div id="map"></div>
    </div>
    <footer class="footer">
        <a href="https://developer.foursquare.com/" class="href" target="_blank">
            <img id="foursquare-img" src="http://www.freeiconspng.com/uploads/foursquare-icon-22.png" alt="used with foursquare" >
        </a>
    </footer>
    <script src="{{ url_for('static', filename='js/lib/knockout-3.4.2.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    <script async defer
        src=
        "https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyD_nCDNBZYzkhE_Jxgf9sdwqnLYPkl2BHk&language=en&v=3&callback=initMap" onerror="googleError()">
    </script>
</body>
</html>
